@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*FUENTES*/
  @font-face {
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src:
      url("fonts/websymbols-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("fonts/websymbols-regular-webfont.woff") format("woff"),
      url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
      url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  .symbol {
    font-family: "WebSymbolsRegular";
  }

  .bebas {
    font-family: "BebasNeue";
  }

  .trebuchet {
    font-family: "TrebuchetMS";
  }
}

@layer components {

    .floating-button{
        @apply
            bg-gradient-to-b from-blue-400 to-blue-700
            text-white 
            rounded-sm
            shadow-md 
            hover:-translate-y-1 
            hover:shadow-xl 
            transition 
            duration-200
        ;
    }

    .input-search{
        @apply
            px-8 py-2 border 
            border-gray-300                       
            rounded-full 
            focus:ring-2 
            focus:ring-blue-400
            focus:outline-none 
            text-sm 
            transition 
            duration-500
    }

    .form-link{
        @apply
            text-sm 
            text-gray-600 
            rounded-sm 
            focus:outline-none 
            hover:text-gray-400 
            hover:underline
    }

    

      /* ESTILOS DE TARJETAS FOOTER*/
  .card {
    @apply flex-1
        h-80
        bg-blue-300
        overflow-hidden
        m-6
        mt-10
        pl-5
        pr-5
        cursor-pointer
        transition
        duration-300
        hover:bg-gray-900

        xs:ml-0
        xs:h-40
        xs:m-0
        md:h-40
        md:m-2
        lg:h-80
        lg:m-6;
  }

  .card-icon {
    font-family: "WebSymbolsRegular";
    @apply 
      block
      w-full
      h-32
      text-5xl
      text-center
      mt-12
      mx-auto
      transition
      duration-300
      text-gray-900
      group-hover:scale-150
    group-hover:text-blue-600
      group-hover:animate-show-card-icon

      xs:p-0
      xs:scale-100
      xs:mt-3
      xs:h-20
      md:p-4
      md:mt-3
      md:h-20
      lg:mt-12
      lg:h-32
    ;
  }

  .card-category {
    @apply 
      w-full
      h-12
      text-xl
      text-center
      font-bold
      text-black
      transition
      duration-300
      group-hover:text-white
      group-hover:animate-show-card-category


      xs:text-base
      xs:h-6
      md:text-base
      md:h-6
      lg:text-lg
      lg:h-12
    ;
  }

  .card-description {
    font-family: "TrebuchetMs";
    @apply 
      text-center
      text-azul-oscuro
      text-base
      transition
      duration-300
      group-hover:text-white
      group-hover:animate-show-card-desc

      xs:hidden
      md:hidden
      lg:block
      lg:text-sm
      lg:mt-3
      xl:text-base
    ;
  }

}

@layer utilities {
}